LivrariaHBSIS/packages/**/*
LivrariaHBSIS/.vs/**/*
LivrariaHBSIS/LivrariaHBSIS.Web/obj/**/*
LivrariaHBSIS/LivrariaHBSIS.Web/bin/**/*
LivrariaHBSIS/LivrariaHBSIS.domain/bin/**/*
LivrariaHBSIS/LivrariaHBSIS.domain/obj/**/*
LivrariaHBSIS/LivrariaHBSIS.Infra/bin/**/*
LivrariaHBSIS/LivrariaHBSIS.Infra/obj/**/*
LivrariaHBSIS/LivrariaHBSIS.Services/bin/**/*
LivrariaHBSIS/LivrariaHBSIS.Services/obj/**/*
LivrariaHBSIS/LivrariaHBSIS.Infra.IoC/obj/**/*
LivrariaHBSIS/LivrariaHBSIS.Infra.IoC/bin/**/*
LivrariaHBSIS/LivrariaHBSIS.Web/Properties/PublishProfiles/CustomProfile.pubxml.user
